SECRET_KEY=57....
DEBUG=true
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://virtualvoice:virtualvoice@db:5432/virtualvoice
API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000 
