SECRET_KEY=571e8ac170782bf19a3c2c5632953406d7e524d83b359598756c006c75e15051
DEBUG=true
FRONTEND_URL=http://localhost:3000
DATABASE_URL=DATABASE_URL=postgresql://virtualvoice:virtualvoice@db:5432/virtualvoice
API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000 